* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;

}

.header, .hero, .content-1, .content-2, .content-3, .footer {
    padding: 10px 100px; 
    /* padding-left: 10px; */
    /* padding-right: 10px; */

}

.header, .footer {
    background-color: #1F2937;
}


.header {
    color: #F9FAF8;
    /* font-size: 18px; */

    display: flex;
    justify-content: space-between;

}

.header-left {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    color: #E5E7EB;

    display: flex;
    gap: 12px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    border: 1px solid blue;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    justify-content: space-between;
}

.hero-main {

    border: 1px solid red;
    height: 300px;
    width: 450px; 
}

.hero-image {
    background-color: darkgrey;
    height: 300px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 26px;
    border-radius: 6px;
}


.content-1, .content-3 {
    background-color: white;
}

.content-1 {
    padding-top: 40px;
    padding-bottom: 80px;
}

.content-title {
    border: 1px solid green;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;

    padding-bottom: 40px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image-item {
    color: #1F2937;
    max-width: 140px;
    text-align: center;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 6px;
}

.content-2 {
    background-color: #E5E7EB;
    padding: 120px 140px;
}

.quote-section {
    color: #1F2937
}

.quote-text {
    border: 1px solid blue;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
  
.blue-box {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 20px;
    margin: 20px;
}






.footer {
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}

